.mb-6 {
  margin-bottom: 24%;
}

.vll {
  border-left: 5px solid darkturquoise;
  height: 100%;
}

.vlr {
  border-right: 5px solid darkturquoise;
  height: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: -10px;
  width: 100%;
  text-align: center;
  height: 4em; /* Set the fixed height of the footer here */
  line-height: 4em; /* Vertically center the text there */
}

.font-weight-huge {
  font-size: 4em;
}

.h-line {
  border: 0.5vh solid darkturquoise;
}

.active {
  background-color: black;
  color: white;
  border-radius: 20%;
}

.dot-big {
  height: 4.5em;
  width: 4.5em;
  background-color: violet;
  border-radius: 50%;
  display: inline-block;
  padding: 15px 0;
  font-size: 30px;
}

.dot-logo {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: inline-block;
}

body {
  background: url("./images/background.jpg");
}
